@import "tailwindcss";

.bg-gray-1 {
    background-color: #404040;
}
.bg-gray-2 {
    background-color: #2b2b2b;
}
.font-main {
    font-family: 'Bauhaus 93','Poppins', sans-serif;
}
.font-regular {
    font-family: 'Poppins', sans-serif;

}
.active {
    color: #155dfc;
    text-shadow: 0 0 20px #155dfc;
}